body {
    background-image: url(./background.JPG);
    background-size: contain;
    width: 200px;
    height: 100px;
    cursor: url(cursor.ico), auto;
}

h1 {
    font-size: 2.0em;
    font-family: "Arial", sans-serif;
    color: #48ADF8;
    text-shadow: 2px 2px #266FA5;
}

h2 {
    font-size: 15px;
    font-family: "Arial", sans-serif;
    color: #266FA5;
}

.title{
  position: relative;
  left: 200px;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  color: #B4A4D8;
  text-shadow: 2px 2px 3px #03011C;
}

a {
    color: #BF76E3;
}

.yup {
    margin: 50px;
    background-color: #D3EAF1;
    width: 300px;
    height: 700px;
    padding: 50px;
    border: 20px groove #D3EAF1;
}

.ideaone {
    margin: 20px;
    background-color: #D3EAF1;
    width: 300px;
    height: 600px;
    padding: 20px;
    border: 20px groove #D3EAF1;
}
