#gradient{
  background: #000; /* Old browsers */
  background: -moz-linear-gradient(top,  #FFF 0%, #787878 32%, #2E2E2E 59%, #000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #FFF 0%, #787878 32%, #2E2E2E 59%, #000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #FFF 0%, #787878 32%, #2E2E2E 59%, #000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#000',GradientType=0 ); /* IE6-9 */
}

html,body {
  margin:0;
}

.title{
  height: 700px;
  background: #000;
  transition: background 7s ease-in;
  font-size: 150px;
  text-align: center;
  font-family: 'Didot';
}
.title.loaded{
  background: #FFF;
}

#third, #fourth, #fifth, #sixth, #seventh, #eighth {
  position: relative;
}

#opener{
  height: 700px;
  font-size: 40px;
  font-family: 'Didot';
  position: relative;
}
.lifeless{
  position: absolute;
  left: 350px;
  top: 100px;
  animation-duration: 2s;
}
.stoic{
  position: absolute;
  left: 510px;
  top: 100px;
  animation-duration: 2.5s;
}
.stiff{
  position: absolute;
  left: 625px;
  top: 100px;
  animation-duration: 2.7s;
}

.sentence{
  position: absolute;
  font-size: 18px;
  left: 600px;
  top: 400px;
  animation-delay: 2s;
}

#opener img {
  position: absolute;
  animation-delay: 9s;
  animation-duration: 3s;
  margin-bottom: 100px;
}

#second{
  position: relative;
  height: 900px;
  transition: background 2s ease-in;
  margin-top: 100px;
}

#second:hover .fade-out {
  opacity: 0;
}

.model{
  position: relative;
  width: 56%;
  left: 500px;
  cursor: move;
  top: 90px;
}

.model img {
  position: absolute;
  max-width: 100%;
}

#words{
  font-size: 35px;
  position: absolute;
  left: 100px;
  font-family: 'Didot';
  color: #000;
}

.movement{
  position: absolute;
  left: -20px;
  top: 50px;
  animation-delay: 2s;
}
.intimacy{
  position: absolute;
  left: 80px;
  top: 110px;
      animation-delay: 2s;
}
.space{
  position: absolute;
  left: 190px;
  top: 170px;
  animation-delay: 2s;
}

.form{
  position: absolute;
  left: 230px;
  top: 230px;
  animation-delay: 2s;
  width: 160px;
}
.sentence2{
  position: absolute;
  font-size: 18px;
  left: 432px;
  top: 243px;
  animation-delay: 2s;
  width: 400px;
  font-family: 'Times New Roman';
}


.fade-out {
  transition: all 5s ease-in-out;
  opacity: 1;
}

.fade-out:hover {
  opacity: 0;
}

#third{
  position: relative;
  height: 1300px;
  margin-top: 100px;
}

#third:hover .fade-out {
  opacity: 0;
}

#thirdp{
  font-size: 18px;
  font-family: 'Times new Roman';
  position: absolute;
  color: #000;
  left: 700px;
  top: 40px;
  width: 300px;
}

.modeltwo{
  position: relative;
  width: 100%;
}

.modeltwo img {
  position: absolute;
  max-width: 100%;
}

.fade-out {
  transition: opacity 5s ease-in-out;
  opacity: 1;
}

.fade-out:hover {
  opacity: 0;
}

.firstp{
  font-size: 30px;
  position: absolute;
  top: 120px;
  left: 100px;
  font-family: 'Didot';
  color: #CA163C;
}


#sixth{

}

.doublemodel{
  position: relative;
  width: 56%;
  left: 480px;
  cursor: move;
}

.doublemodel img {
  position: absolute;
  max-width: 100%;
}

.SFMOMA{
  font-size: 25px;
  font-family: 'Didot';
}

a{
  color: #CA163C;
}

a:visited{
  color: #CA163C;
}

a:hover{
  color: #B4A568;
}
